<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">Index</a>
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Home" asp-action="Items">Items</a>
        <a asp-controller="Product" asp-action="ShowProduct">Sample Product</a>
        <a asp-controller="Product" asp-action="ProductList">Show Product List</a>
        <a asp-controller="Product" asp-action="EnterProduct">Enter a Product</a>
    </header>
    <h2>Class Demo 1</h2>
    <div>
        @RenderBody()
    </div>
    <footer>CSIS 4135</footer>
</body>
</html>
