<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles.css" rel="stylesheet" />
</head>
<body>
    <a href="/Home/Index">Index</a>
    <a href="/Home/About">About</a>
    <a href="/Home/Items">Items</a>
    <h2>Class Demo 1</h2>
    <div>
        @RenderBody()
    </div>
    <div>CSIS 4135</div>
</body>
</html>
