body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

header, footer {
    background-color: darkseagreen;
    color: white;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}
