body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

header, footer {
    background-color: darkseagreen;
    color: white;
    padding: 15px;
}

header > a {
    color: white;
    text-decoration: none;
    padding-right: 50px;
}
